/*
 * External Style Sheet
 * for SWG - Pre-Work CSS: Lab 1
 * Author: Xin Li
 */

/* body **************/
body {
    background-image: url("../img/bg_2.jpg");
}

/* div ***************/
div {
    text-align: center;
}

.album_details {
    width: 70%;
    margin: 0 auto
}

/* img *********/
img {
    width: 500px;
    height: 500px
}

/* ul **************/
ul {
    text-align: left;
}

/* p *************/
.highlight {
    font-size: large;
    font-weight: bold;
}

/* table ******************/
table {
    border: 1px solid black;
    width: 100%;    
}

tr {
    text-align: center;
    background-color: black;
    color: white;
}

th {
    color: white;
    background-color: black;
}

td {
    border: 1px solid grey;
}

th {
    border: 1px solid orange;
}

#track_# {
    width: 25%;
}

#track_title {
    width: 50%;
}

#track_length {
    width: 25%;
}
