/*
 * External Style Sheet
 * for SWG - Pre-Work CSS: Lab 4
 * Author: Xin Li
 */

@font-face {
    font-family: 'Restaurant_Font';
    src: url('../fonts/docktrin.ttf');
}

header h1 {
    text-align: center;
    font-family: 'Restaurant_Font';
    font-size: 60px;
}

header td {
    padding: 5px;
}

footer {
    text-align: center;
}